@*
    @{
        ViewBag.Title = "OrderedBy";
    }

    <h2>OrderedBy</h2>
*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderedBy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table {
            width: 100%;
            border: solid;
            border-width: 1px;
        }
    </style>
</head>
<body>
    <h1>Products</h1>
    <h3>Orders by @ViewBag.customer.CompanyName (@ViewBag.customer.CustomerID)</h3>
    <div class="container">
        <div class="row">
            @foreach (var p in ViewBag.products)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table>
                        <tr>
                            <td width="30%">Product ID</td>
                            <td>@p.ProductID</td>
                        </tr>
                        <tr>
                            <td>Product Name</td>
                            <td>@p.ProductName</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>@string.Format("{0:C}", @p.UnitPrice)</td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td>@p.UnitsInStock</td>
                        </tr>
                        <tr>
                            <td>Reorder level</td>
                            <td>@p.ReorderLevel</td>
                        </tr>
                    </table>
                    <br />
                </div>
            }
        </div>
    </div>
</body>
</html>